@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700&display=swap');

body {
  background-color: #EDF0E7;
  font-family: monospace;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

h1, h3 {
  color: #555;
  font-family: 'Georgia', serif;
}

h1 {
  font-size: 24px;
  line-height: 1.3;
}

h3 {
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: #F1AB4A;
  text-decoration: none;
}

a:hover {
  color: #ff9500;
  text-decoration: none;
}

.container {
  width: 60%;
  margin: 20px auto;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.profile-button {
  background-color: #F1AB4A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.profile-button:hover {
  background-color: #ff9500;
}


.social-media i {
  font-size: 24px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
